@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
  /* Custom colors */
  --color-primary: #697598;
  --color-coal: #1f1f23;
  --color-secondary: #373b47;
  --color-background: #f5f6fa;
  --color-brand: #003eff;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
